# Add the path of the browser you want to use
BROWSER_PATH = 
# Add the path to the browser profile you want to use
CHROME_PROFILE_PATH = 



## How to find browser path and profile path on your machine:
